<div class="col-sm-12 header-col">
  <h1>Organisations</h1>
  <ngb-alert type="success" *ngIf="added" (close)="added = false">Organisation added successfully</ngb-alert>
  <button type="button" (click)="addNewOrganisation()" class="btn btn-primary">Add</button>
</div>

<div class="col-sm-12 scrollable content-col">
  <ul class="list-group">
    <li *ngIf="newOrganisation">
      <organisation [organisation]="newOrganisation" (created)="organisationCreated()"></organisation>
    </li>

    <li
      *ngFor="let organisation of organisations$ | async ; let i = index"
      class="list-group-item"
      [ngClass]="{ 'bg-faded': i % 2 === 0 }"
    >
      <organisation [organisation]="organisation" (destroyed)="fetchOrganisations()"></organisation>
    </li>
  </ul>
</div>
